ACCESS_CODE=banana
ACCESS_TOKEN_SECRET=replace-this-secret
SESSION_TTL_HOURS=168
PORT=3001
HOST=0.0.0.0
APP_ROOT=/app
RSSHUB_BASE_URL=http://rsshub:1200
SCHEDULER_ENABLED=true
VITE_API_PROXY_TARGET=http://backend:3001
